# Caminho para o arquivo de credenciais da conta de serviço do Google
GOOGLE_CREDENTIALS_PATH=credentials.json

# Credenciais do site da transportadora
TRANSPORTADORA_LOGIN=seu_usuario_aqui
TRANSPORTADORA_SENHA=sua_senha_aqui

# Modo headless do Playwright (true = sem janela, false = com janela visível)
PLAYWRIGHT_HEADLESS=true
